    <%- include('header') %>
    
    <div class="box" id="heading">
        <h1> <%= listOfTitle %></h1>
    </div>

    <div class="box">

            <% newListItems.forEach(function (newListItem){ %>

                <form action="/delete" method="post">
                <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= newListItem._id %>" onchange="this.form.submit()">
                    <p> <%= newListItem.name %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= listOfTitle %>">
                </form>

            <% }) %>

            <form class = "item" action="/" method="post">
                <input type="text" name="todo" id="" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value= <%= listOfTitle %> >+</button>
            </form>
    </div>

     <%# kindOfDay === "Saturday" || kindOfDay === "Sunday" %>

    <%- include('footer') %>